@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="@Url.Action("Lecture", "Home")" class="btn btn-primary mt-3">Fill in Lecture Details</a>
</div>